<div class='aewa-wrapper'>
    <div class='aewa-inner'>
        <strong class='aewa-header'>
            AEWA: {{aewa.id}}
        </strong>
        <div class='aewa-content'>
            <p class='aewa-prop'>
                <label>
                    a:
                    <input [(ngModel)]='aewa.a' />
                </label>
            </p>
            <p class='aewa-prop'>
                <label>
                    b:
                    <input [(ngModel)]='aewa.b' />
                </label>
            </p>
            <p class='aewa-prop'>
                <label>
                    c:
                    <input [(ngModel)]='aewa.c' />
                </label>
            </p>
        </div>
    </div>
</div>