<div id='main'>
    <h1>AEWATS test</h1>
    
    <nav class='nav-link-container'>
        <div class='nav-link-section'>
            <a class='nav-link' routerLink='/'>
                Home
            </a>
            |
            <a class='nav-link' routerLink='/home1'>
                Home 1
            </a>
            |
            <a class='nav-link' routerLink='/home2'>
                Home 2
            </a>
        </div>
        <div class='nav-link-section'>
            <a class='nav-link' routerLink='/screen1'>
                Screen 1
            </a>
        </div>
    </nav>

    <router-outlet></router-outlet>
</div>